@using Avalonia.Layout
@using Blazonia
@inject INavigation Navigation

<Border Theme="@("CardBorder")">
    <StackPanel HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
        <Button HorizontalAlignment="HorizontalAlignment.Center" Classes="Primary"
                OnClick="OnButtonClick">Go to sub page
        </Button>
        <Image Width="200" Height="200" Source="@("avares://Langhuan.App/Assets/avalonia-logo.ico")"></Image>
    </StackPanel>
</Border>

@code {

    async Task OnButtonClick()
    {
        await Navigation.NavigateToAsync("/sub1", null);
    }

}